*
{
    box-sizing: border-box;
}

body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background: #1F2937;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

canvas
{
    background-color: #efefef;
    border-radius: 2rem 2rem 0 0;
    border: 5px solid rgb(31, 121, 210);
}
